//Settings
@import "px-colors-design/_settings.colors.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// Base
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-viewport-design/_base.viewport.scss";
@import "px-typography-design/_base.typography.scss";
@import "px-headings-design/_base.headings.scss";

$inuit-enable-code--inline : true;
@import "px-code-design/_base.code.scss";

// Objects
$actionable : true;
@import "px-actionable-text-icons-design/_objects.actionable.scss";

$inuit-enable-toggle--small : true;
@import "px-toggle-design/_objects.toggle.scss";

$inuit-enable-input--regular : true;
@import "px-forms-design/_base.forms.scss";

$inuit-enable-list-inline--delimited : true;
@import "px-list-inline-design/_objects.list-inline.scss";

// Component
@import "px-demo-doc-design/_component.demo-doc.scss";

// Trumps                          
$inuit-enable-margins : true;
$inuit-enable-margins--tiny : true;
$inuit-enable-margins--small : true;
$inuit-enable-margins--large : true;
$inuit-enable-margins--huge : true;
$inuit-enable-paddings : true;
$inuit-enable-paddings--tiny : true;
$inuit-enable-paddings--small : true;
$inuit-enable-paddings--large : true;
$inuit-enable-paddings--huge : true;
@import "px-spacing-design/_trumps.spacing.scss";
@import "inuit-clearfix/_trumps.clearfix.scss";  